<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>authorizationToken</key>
	<string>&lt;insert-authorization-token-here&gt;</string>
	<key>account</key>
	<string>&lt;insert-account-id-here&gt;</string>
</dict>
</plist>
